h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}

ol {
    font-size: 20px;
}

a {
    text-decoration: none;
}

input {
    font-size: 20px;
}

#title {
    border-bottom: 1px solid grey;
}

#theme {
    padding-left: 20px;
    padding-bottom: 10px;
}

#content {
    border-right: 1px solid grey;
}

#grid {
    display: grid;
    grid-template-columns: 400px 1fr;
}

#article {
    padding-top: 15px;
    padding-left: 40px;
}

@media(max-width:800px) {
    #grid {
        display: block;
    }

    #title {
        border-bottom: none;
    }
}

