#title-box {
    border-bottom: 1px solid grey;
}

#title {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}

#togle {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#date {
    display: inline;
    float: right;
}

#grid {
    display: grid;
    grid-template-columns: 400px 1fr;
}

#content {
    border-right: 1px solid grey;
}

#content > ol {
    font-size: 20px;
}

#content > ol > li > a {
    color: royalblue;
    text-decoration: none;
}

#article {
    padding-top: 15px;
    padding-left: 40px;
}

@media(max-width:800px) {
    #title-box {
        border-bottom: none;
    }

    #grid {
        display: block;
    }

    #title {
        font-size: 50px;
    }
}

